body {
  margin: 0;
  background-color: black;
  display: flex;
  align-content: center;
  justify-content: center;
  
  width: 100%;
  height: 100%;

}

/*code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    
}*/
.loginForm img {
  margin-top: 5em;
  margin-bottom: 1em;
}
.loginForm {
  width: 22.5em;
  height: 40em;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  
  background-color: rgb(0, 0, 0);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.loginForm input{
  width: 20em;
  height: 2.5em;
  margin-top: 2em;;
  font-family: sans-serif;
  
  color: rgb(0, 0, 0);
  background-color: #E99C18;
  box-shadow: none;
  border: 0;
  border-radius: 0.5em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  

}

::-webkit-input-placeholder { 
  color: black;
  padding-left: 1em;
  font-size: medium;
  
}

.loginForm select{
  margin-top: 2em;
  background-color: #E99C18;
  width: 20em;
  height: 2.8em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 0.5em;
  

}

#notification {
  margin-top: 1em;
  color: #C62B2C;
}

.loginForm button{
margin-top: 2em;
width: 20em;
  height: 2.5em;
display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;

  color: #020202;
  background-color:#E99C18;
  background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bolder;

  padding: 0em;
  font-size: ;
}

.loginForm button:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}


.loginForm label{
  color: #f6d936;
}

.loginForm footer {
  margin-top: 4em;
  color: #E99C18;
  font-family: sans-serif;
  font-size: small;
}

.titulo {
  color: #f6d936;
}




  
